{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Recherche Simple {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="wrapper-search">
    <div class="titles">
        <h1 class="title-search">Recherche Simple</h1>
        <p class="subtitle-search">Rechercher par nom de ville ou <a href="#"> faites une recherche avancée</a></p>
    </div>

    <div class="container-search">
        <form action="" class="form-search">
            <label class="label-form-search" for="field-search">Nom de la ville </label>
            <input id="field-search" type="search" name="field_search" autocomplete="off" >

            <button id="button-search" type="submit" class="btn btn-sm " style="display:none;">Aller</button>
        </form>
        <div class="wrapper-resultats">
            <div id="search-results"></div>
        </div>

    </div>
</div>

</div>
</div>

<template id="template__elt">
    <div class="card">
        <div class="card-body">

        </div>
    </div>
</template>

<script src="{{asset('js/search.js')}}"></script>


{% endblock %}