<h3 class="subtitle-section">Plan de la ville</h3>
<div id="leaflet-maps">
    <div id="mapid" class="shadow" data-longitude="{{ cityData.location.longitude }}"
        data-latitude="{{ cityData.location.latitude }}"></div>
</div>