<form method="post" action="{{ path('review_delete', {'id': review.id}) }}" onsubmit="return confirm('Vous êtes sûr/e de vouloir effacer l\'avis?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">
    <button class="btn btn-danger btn-sm mx-4 float-right">Supprimer</button>
</form>
