{{ form_start(form, { 'attr': {'id': 'form-save-list' } }) }}
    {{ form_widget(form) }}
    <div class="form-group save-search-group">
        <button class="btn btn-sm btn-dark save-search">{{ button_label|default('Sauvegarder cette recherche') }}</button>
    </div>
{{ form_end(form) }}
