{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' }} À propos {% endblock %}
{% block stylesheets %}
{# <link href="{{ asset('css/page.css') }}" type="text/css" rel="stylesheet" /> #}
{% endblock %}

{% block body %}
<div class="wrapper-accueil">
    <h1>L'équipe</h1>
    <ul class="card-list p-0">
        <li class="card p-4 my-2">
            <h2>Aurélie Anglio</h2>
            <small>Lead Developer Front/Scrum Master</small>
        </li>
       
        <li class="card p-4 my-2">
            <h2>Ezequiel Munoz</h2>
            <small>Lead Developer Back, Git Master et Référent Technique</small>
        </li>
        
        <li class="card p-4 my-2">
            <h2>Kevin Ferraci</h2>
            <small> Product Owner</small>
        </li>
    </ul>
</div>

{% endblock %}