{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' }} Mentions Legales{% endblock %}
{% block stylesheets %}
{# <link href="{{ asset('css/page.css') }}" type="text/css" rel="stylesheet" /> #}
{% endblock %}

{% block body %}
<div class="wrapper-accueil">
    <h1>Mentions Legales</h1>
</div>

{% endblock %}