/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100vh;
  max-height: 100%;
}


body {
  /* Margin bottom by footer height */
  height: 92vh;
  margin-bottom: 60px;
  background-color: whitesmoke;


}

.navbar {
  width: 100vw;
  position: fixed;
  z-index: 50;
}

.nav-link, .dropdown-item{
  font-size: small;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.footer {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu a {
  text-decoration: none;
  color: white;
  font-size: x-small;
}




/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  } */