/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100vh;
  max-height: 100%;
}

.flash-success {
  top: 59px !important;
  position: relative;
  width: max-content;
  z-index: 3;
}


body {
  /* Margin bottom by footer height */
  height: 92vh;
  margin-bottom: 60px;
  background-color: whitesmoke;


}

.navbar {
  width: 100vw;
  position: fixed;
  z-index: 50;
}

.nav-link,
.dropdown-item {
  font-size: small;
}

.dropdown-item:active {
  background-color: #55967E;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.footer {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu a {
  text-decoration: none;
  color: white;
  font-size: x-small;
}


.wrapper-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  background-color: #55967E;
  color: white;
}

.btn-submit:hover{
  color: lightgray;
}

.wrapper-login .form-control {
  border-color: #55967E;
  box-shadow: none;
}

.wrapper-login .form-control:focus {
  border-color: #55967E;
  box-shadow: 0 0 0 0.2rem rgba(5, 70, 5, 0.212)
}


.wrapper-accueil{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
}

.card-accueil{
  background-color: #55967E;
  color: white;
  padding: 1%;
}

.card-accueil li {
  list-style: none;
}

.link-accueil:hover {
  color: lightgray;
}

.link-accueil:visited {
  color: white;
}

.wrapper-legal {
  height:  auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrapper-legal h2 {
  margin-top: 2em;
}

.wrapper-legal p {
  text-align: justify;
  padding-bottom: 2em;
}
/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  } */