.header-info {
    position: fixed;
    top: 55px;
    height: 13vh;
    color: white;
    background-color: #55967E;
    z-index: 25;
}

.wrapper-city-list-show{
    padding: 5em;
}

#drop-menu {
    background-color: #55967E;
}

.list-percent {
    color: whitesmoke;
    font-weight: bold;
}

.list-percent:hover {
    color: teal;
    font-weight: bold;
}



#form-save-list {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #55967E;
    padding: 40px;
    box-shadow: 0 .125rem .25rem rgb(61, 105, 89);
}

.icon-navbar {
    font-size: 30px;
}

[data-show="true"] {
    display: block;
}

.picture-result[data-show="false"] {
    display: none;
}


.text-share-link {
    margin: 0;
}

.btn-share-link {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.btn-share-link:active {
    transform: translateY(4px);
    box-shadow: 5px 5px 5px #aaaaaa;
}

#urlLinkInput {
    width: 13px;
    position: absolute;
    z-index: 1;
    top: -35px;
}

.city-list-result {
    margin-top: 60vw;
    padding-bottom: 13%;
}

#city_list .required {
    font-size: small;
}

.wrapper-results-city-list {
    display: flex;
    align-items: center;
    height: inherit;
    flex-direction: column;
}

.wrapper-results-city-list h1 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    transform: translateY(204px);
    text-align: center;
}

.box-results-city-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

/*----------------------------------------MEDIA QUERIES----------------------------------------------------------------*/

@media (min-width: 400px) and (max-width: 992px) {

    .city-list-result {
        margin-top: 32vh;
        padding-bottom: 13%;
    }

    #city_list_name{
        height: 30px;
    }

    #city_list{
        position: relative;
        bottom: 6px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .box-results-city-list {
        position: relative;
    }

    #form-save-list {
        padding: 0px;
        box-shadow: none;
        flex-direction: row;
    }

    .wrapper-results-city-list {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flow-root;
        width: 90vw;
    }

    #city_list_name {
        height: 28px;
        /* font-size: 2px; */
        margin-bottom: 28px;
    }

    .btn-group,
    .btn-share-link,
    #city_list_name {
        margin-right: 20px;
    }

    .save-search-group {
        margin-left: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .city-list-result {
        margin-top: 21vw;
        padding-bottom: 13%;
    }

    #city_list{
        position: relative;
        bottom: 6px;
    }

    .picture-result{
        margin-right: 32px;
    }
}




@media (min-width: 1200px) and (max-width: 1514px) {

    .city-list-result {
        margin-top: 17vw;
        padding-bottom: 13%;
    }

    .btn-group,
    .btn-share-link,
    #city_list_name {
        margin-right: 20px;
    }

    #form-save-list {
        padding: 0px;
        box-shadow: none;
        flex-direction: row;
    }

    #city_list_name{
        height: 30px;
    }

    #city_list{
        position: relative;
        bottom: 6px;
    }

    .picture-result{
        margin-right: 32px;
    }
}


@media (min-width: 1514px) {

    .city-list-result {
        margin-top: 14vw;
        padding-bottom: 13%;
    }

    .btn-group,
    .btn-share-link,
    #city_list_name {
        margin-right: 20px;
    }

    #form-save-list {
        padding: 0px;
        box-shadow: none;
        flex-direction: row;
    }

    #city_list_name{
        height: 30px;
    }
    
    #city_list{
        position: relative;
        bottom: 6px;
    }

    .picture-result{
        margin-right: 32px;
    }
}

