#landing-sextion {
    height: 100%;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#data-section{
   
    padding: 10%;
}

h1{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2%!important;
}

#description{
    text-align: center;
}

#city-scores {
    margin-top: 8%;

}

.subtitle-section{
    text-align: center;
    margin-bottom: 5%;
}

#container-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#container-cards .card {
    margin: 0 2% 10% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

#container-cards .card-text{
    margin-top: 20%;
}

#container-cards  #p-score  {
    margin-top: 0px;
}



.card-text{
    text-align: center;
}


/* CSS FOR LEAFLET */

  #leaflet-maps {
    margin: auto;
    width: 70%;
    font: 18px/1.5 sans-serif;
    z-index: 0;
    position: relative;
  }

  #mapid {
    height: 400px;
    width: auto;
    margin: auto;
    margin-bottom: 15%;
    z-index: 0;
    border-radius: 5px;
  }
  
  
  .leaflet-maps code {
    background: #F5F5F5;
    padding: 2px 6px;
  }
  /* END CSS FOR LEAFLET */