.wrapper-user-edit{
    position: absolute;
    transform: translate(-50%, -68%);
    height: auto;
    margin-bottom: 34px;
    top: 113%;
    left: 50%;
    width: fit-content;
    padding: 0% 4% 5% 4%;
}