.wrapper-user {
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
}

.paragraph-inline {
    display: flex;
    align-items: center;
    justify-content: start;
}

.text-thumb {
    margin-left: 5%;
    font-size: small;
}

.report-profile, .settings-profile {
    position: absolute;
    top: -556px;
    color: #55967E;
    font-size: 0.9rem;
}

.report-profile:hover, .settings-profile:hover{
    color: black;
    text-decoration: none;
}

.user-like {
    position: absolute;
    top: -1110px;
    right: 42px;
    font-size: 1.7em;
    color: indianred;
}

a.user-like {
    width: fit-content;
}

.user-like:hover {
    color: mediumvioletred;
    text-decoration: none;
}

/* START LEFT */

.user-left {
    /* background-color: violet; */
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    flex: 1;
    margin: 2%;
    /* margin-top: 20%; */
    position: relative;
    border: .01rem solid rgba(0, 0, 0, .1);
    top: 575px;
}

.title-badges {
    font-size: small;
    position: relative;
    top: 15px;
    left: 32px;
    background-color: whitesmoke;
    width: auto;
    display: inline-block;
}

.img-badge {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.user-left p {
    font-size: small;
}

.box-badges {
    /* background-color: wheat; */
    padding: 3%;
    padding-top: 5%;
    border-top: 1px solid black;
    width: 105%;
    margin: auto;
    overflow-y: scroll;
    max-height: 135px;
    min-height: 135px;
    padding-right: 14px;
}

.link-item-profile-box {
    text-decoration: none;
    color: black;
}

.link-item-profile-box:hover {
    text-decoration: none;
    color: black;
}

/* .link-item-profile-box-img{
    border-radius: 50%;
} */

.hide-scroll {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

/* END LEFT */

.user-center {
    /* background-color: gray; */
    height: 500px;
    min-height: 500px;
    flex: 1;
    margin: 2%;
    /* margin-top: 20%; */
    position: relative;
    border: .01rem solid rgba(0, 0, 0, .1);
    top: -472px;
}

.user-center-info {
    padding: 0px 5%;
    position: absolute;
    top: 144px;
    left: 0px;
}


.text-role {
    position: absolute;
    top: 2px;
    left: 7px;
    font-weight: bold;
    font-size: small;
    font-style: italic;
    max-width: 32%;
    overflow: hidden;
}

.text-role-badge {
    position: absolute;
    top: 21px;
    left: 7px;
    font-weight: bold;
    font-size: small;
    font-style: italic;
    max-width: 32%;
    overflow: hidden;
}


.user-center-info p {
    font-size: small;
    line-height: 1px;
    font-style: italic;
    color: #55967E;
}

.avatar-profile {
    width: 7em;
    height: 7em;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 2px black);
    left: 50%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.badge-profile {
    width: 10%;
    position: absolute;
    top: 8px;
    right: 38px;
}

.title-profile {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translate(-50%);
    font-size: large;
    margin-top: 2%;
}

.text-presentation {
    width: 90%;
    min-height: 155px;
    max-height: 155px;
    overflow: auto;
    font-size: small;
    text-align: justify;
    position: absolute;
    top: 179px;
    left: 50%;
    transform: translate(-50%);
}

.language-self-profile{
    position: absolute;
    top: 316px;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 152px;
    min-height: 152px;
    padding: 9px 0px;
}

.language-self-profile .img-badge{
    width: 2em;
    height: 2em;
}

.user-right {
    /* background-color: coral; */
    /* height: 500px; */
    flex: 1;
    margin: 2%;
    /* margin-top: 20%; */
    position: relative;
    border: .01rem solid rgba(0, 0, 0, .1);
    top: 76px;
    margin-bottom: 20%;
    min-height: 500px;
}

.img-carousel {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
}

.carousel-item {
    min-height: 360px;
}

.carousel-indicators {
    bottom: -81px;
}

.box-right-profile {
    height: auto;
}

.box-gallery-right {
    min-height: 436px;
}

/*----------------------------------------------------MEDIA QUERIES-------------------------------------------------------------------*/
@media (min-width: 992px) {

    .wrapper-user {
        display: flex;
        flex-direction: row;
        padding-top: 18vh;
    }

    .user-like {
        position: absolute;
        top: -45px;
        left: -173px;
        font-size: 1.5em;
        color: indianred;
    }

    .user-like:hover {
        text-decoration: none;
        color: mediumvioletred;
    }

    .report-profile, .settings-profile {
        position: absolute;
        top: -92px;
        left: 3px;
        font-size: .8em;
        color: #55967E;
    }

    .report-profile:hover, .settings-profile:hover {
        text-decoration: none;
        color: black;
    }

    .paragraph-inline {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .text-thumb {
        margin-left: 5%;
        font-size: small;
    }

    /* START LEFT */

    .user-left {
        /* background-color: violet; */
        height: 500px;
        flex: 1;
        margin: 2%;
        /* margin-top: 20%; */
        position: relative;
        border: .01rem solid rgba(0, 0, 0, .1);
        top: 0px;
    }

    .title-badges {
        font-size: small;
        position: relative;
        top: 15px;
        left: 32px;
        background-color: whitesmoke;
        width: auto;
        display: inline-block;
    }

    .img-badge {
        width: 2.5em;
        height: 2.5em;
    }

    .user-left p {
        font-size: small;
    }

    .box-badges {
        /* background-color: wheat; */
        padding: 3%;
        padding-top: 5%;
        border-top: 1px solid black;
        width: 105%;
        margin: auto;
        overflow-y: scroll;
        max-height: 123px;
        padding-right: 14px;
    }


    .hide-scroll {
        width: 80%;
        overflow: hidden;
        margin: auto;
    }

    /* END LEFT */

    .user-center {
        /* background-color: gray; */
        height: 500px;
        min-height: 500px;
        flex: 1;
        margin: 2%;
        /* margin-top: 20%; */
        position: relative;
        border: .01rem solid rgba(0, 0, 0, .1);
        top: 0px;
    }

    .user-center-info {
        padding: 0px 5%;
        position: absolute;
        top: -43px;
        left: -535px;
    }

    .text-role {
        position: absolute;
        top: 2px;
        left: 7px;
        font-weight: bold;
        font-size: small;
        font-style: italic;
        max-width: 32%;
        overflow: hidden;
    }

    .user-center-info p {
        font-size: small;
        font-style: italic;
        line-height: 1px;
        font-weight: bold;
    }

    .avatar-profile {
        width: 6em;
        height: 6em;
        position: absolute;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0px 0px 2px black);
        left: 50%;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
    }

    .badge-profile {
        width: 10%;
        position: absolute;
        top: 8px;
        right: 38px;
    }

    .title-profile {
        position: absolute;
        left: 50%;
        top: 90px;
        transform: translate(-50%);
        font-size: large;
        margin-top: 2%;
    }

    .text-presentation {
        /* background-color: cyan; */
        /* position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%); */
        width: 90%;
        min-height: 185px;
        max-height: 190px;
        overflow: auto;
        font-size: small;
        text-align: justify;
        position: absolute;
        top: 128px;
        left: 50%;
        transform: translate(-50%);
    }

    .user-right {
        /* background-color: coral; */
        /* height: 500px; */
        flex: 1;
        margin: 2%;
        /* margin-top: 20%; */
        position: relative;
        border: .01rem solid rgba(0, 0, 0, .1);
        top: 0px;
    }

    .img-carousel {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
    }

    .carousel-item {
        min-height: 360px;
    }

    .carousel-indicators {
        bottom: -81px;
    }

    .box-right-profile {
        height: auto;
    }

    .box-gallery-right {
        min-height: 436px;
    }

}


/*----------------------------------------------------MEDIA QUERIES-------------------------------------------------------------------*/
@media (min-width: 1000px) and (orientation: landscape) {


    .user-center-info {
        padding: 0px 5%;
        position: absolute;
        top: -30px;
        left: -340px;
    }


    .report-profile, .settings-profile {
        position: absolute;
        top: -64px;
        left: 3px;
        font-size: .8em;
        color: #55967E;
    }
}

/*-------------------------------------------MEDIA QUERIES-------------------------------------------------------*/
@media (min-width: 1000px) and (orientation: landscape) {
    .user-center-info {
        padding: 0px 5%;
        position: absolute;
        top: -6%;
        left: -119%;
    }
}