.wrapper-register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-picture {
    vertical-align: middle;
    border-style: none;
    right: 0px;
    position: absolute;
    top: -62px;
}

.wrapper-register h1 {
    font-size: x-large;
}

form[name="registration_form"] .form-group {
    margin-bottom: 0px;
}

form[name="registration_form"] .form-control {
    height: calc(1em + .75rem + 2px);
    font-size: small;
    border-radius: .20rem;
    box-shadow: none;
}

form[name="registration_form"] label {
    margin-bottom: 0px;
    font-size: small;
}

.cgu{
    font-size: small;
}