<div class="box-right-profile">
    <h3 class="title-badges">Mes photos postés &nbsp</h3>
    <div class="hide-scroll">
        <div class="box-badges box-gallery-right">
            <div class="city-pictures img-gallery">
                {% for row in user.reviews %}
                {% for image in row.pictures %}
                <p class="paragraph-inline"><img id="{{ 'image' ~ random(1,50000) }}"
                        src="{{asset('images/uploads/' ~ image.filename) }}" alt="Image de Paris"
                        class="img-carousel" /><span class="text-thumb">{{ image.title }}</span></p>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    {#  <div id="caption"></div> #}
</div>

{% dump(user) %}

<script>
    //Script pour afficher le modal
    // Get the modal
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var galleryImages = document.querySelectorAll(".img-gallery img");
    galleryImages.forEach((image) => {
        image.addEventListener("click", handleClick);
    });
    function handleClick(evt) {
        modal.style.display = "block";
        modalImg.src = this.src;
        //captionText.innerHTML = this.alt;
        evt.currentTarget
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function () {
        modal.style.display = "none";
    }

</script>