<div class="box-right-profile">
    <h3 class="title-badges">Photos postées &nbsp</h3>
    <div class="hide-scroll">
        <div class="box-badges box-gallery-right">
            <div class="city-pictures img-gallery">
                {% for row in user.reviews %}
                {% for image in row.pictures %}
                <p class="paragraph-inline"><img id="{{ 'image' ~ random(1,50000) }}"
                        src="{{asset('images/uploads/' ~ image.filename) }}" alt="Image de Paris"
                        class="img-carousel" /><span class="text-thumb">{{ image.title }}</span></p>
                {% endfor %}
                {% else %}
                    <div class="alert alert-info small">Il n'y a pas de contenu posté.</div> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    {#  <div id="caption"></div> #}
</div>

{% dump(user) %}



