 <footer class="footer bg-dark">
      <div class="container">
        <ul class="footer__menu">
        <li><a href="{{path('about')}}">À propos</a></li>
        <li><a href="{{path('legal_mentions')}}">Mentions légales</a></li>
        <li><a href="{{path('contact')}}">Contact</a></li>
        </ul>
      </div>
    </footer>