 <footer class="footer">
      <div class="container">
        <ul class="footer__menu">
        <li><a href="">À propos</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="">Contact</a></li>
        </ul>
      </div>
    </footer>